*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient( rgba(0, 0, 0, 0.561),rgba(0, 0, 0, 0.464));
    position: relative;
    padding:0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 90px;
}




.backimage{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
fieldset{
    padding: 10px;
    border: 1px solid white;
    height: auto;
    width:40vh;
    padding: 28px;
    margin: 30px;
    justify-content: center;
    align-items: center;
}
p{
    color: white;
}

.footer{

    position: absolute;
    bottom:10px ;
    font-size: 17px;
    color: white;
}
.footer a{
    font-size: 17px;
    text-decoration: none;
    color: rgb(209, 181, 0);
}
h3{
    color: white;
}
form{
    text-align: center;
    position: relative;

}
form input{
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
}
form button{
    outline: 0;
    background: #4caf50;
    border: 0;
    padding: 15px;
    color:white;
    font-size: 25px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo{
    width: 80px;

}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-family: myFont2;
    
}
nav ul li a:hover{
    color: rgb(241, 161, 0);

}
.hover-line::after{
    content: '';
    display: block;
    width: 0%;
    height: 3px;
    background-color: rgb(241, 161, 0);
    transition:width .2s;
}
.hover-line:hover::after{
    width: 100%;
    transition: width .2s ;
}
